
<ion-header>
  <ion-navbar> <ion-buttons right>
      <button ion-button navPop icon-only>
          <ion-icon style="color:gray" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title class="titlename">{{'Order Details'|translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-row style="height: 75px !important;">
<img style="height: 90px;width: 90px;" src="assets/imgs/agent_pin.png">

<div class="dstar">
  <h5 *ngIf="mode == userClass.Distributor" style="font-family: cairo; color: gray">{{'Customer Name'|translate}} : {{user?.name}}</h5>
  <h5 *ngIf="mode == userClass.Customer" style="font-family: cairo; color: gray">{{'Distributor Name'|translate}} : {{user?.name}}</h5>

 <ion-icon class="stars" ios="ios-star" md="md-star"></ion-icon>
<ion-icon class="stars" ios="ios-star" md="md-star"></ion-icon>
<ion-icon class="stars" ios="ios-star" md="md-star"></ion-icon>
<ion-icon class="stars" ios="ios-star" md="md-star"></ion-icon>
<ion-icon style="font-size: 25px;color: gray" ios="ios-star" md="md-star-outline"></ion-icon>
</div>
 </ion-row>
  <hr>
<ion-row><h6> {{'Order Number'|translate}}</h6><p >{{order.orderID}}</p></ion-row> <hr>
<ion-row><h6>{{'Order status'|translate}}</h6><p >{{order.status}}</p></ion-row><hr>
 <ion-row><h6>{{'Number of cylinders'|translate}}</h6><p >{{order.pipesNo}}</p></ion-row><hr>
<ion-row><h6>{{'Time Order'|translate}}</h6><p>{{ convertDate(order.deliveryDate)}}</p></ion-row><hr>
<ion-row><h6> {{'your location'|translate}}</h6><p style="color:gray">{{order.location.label}}</p></ion-row><hr>
<ion-row (click)="gotoflloerequest()"><h6>{{'Pay way'|translate}}</h6><p style="color:gray" >{{order.paymentType}}</p></ion-row>
<div class="d">
<button class="reqnow" *ngIf="order.status == orderClass.PendingStatus" ion-button round (click)="navigate()" >{{'Navigate'|translate}}</button>
<!--<button class="reqlater" ion-button round>{{'Cancel Order'|translate}}</button>-->
</div>
</ion-list>
</ion-content>
