
<ion-header>
  <ion-navbar> <ion-buttons right>
      <button ion-button navPop icon-only>
          <ion-icon style="color:gray" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title class="titlename">{{'Order Details'|translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-row style="height: 75px !important;">
<img style="height: 90px;width: 90px;" src="assets/imgs/agent_pin.png">

<div class="dstar">
  <h5 *ngIf="mode == userClass.Distributor" style="font-family: cairo; color: gray">{{'Customer Name'|translate}} : {{user?.name}}</h5>
  <h5 *ngIf="mode == userClass.Customer" style="font-family: cairo; color: gray">{{'Distributor Name'|translate}} : {{user?.name}}</h5>
  <ion-icon  *ngFor="let icon of icons; let i = index;" style="color:orange" [name]="icon"></ion-icon>
</div>
 </ion-row>
  <hr>
<ion-row>
  <ion-col col-3 class="side1">
      {{'Order Number'|translate}}
  </ion-col>
  <ion-col col-9 class="side2">
      {{order.orderID}}
  </ion-col>
</ion-row>
<hr>
<ion-row>
  <ion-col col-6 class="side1">
      {{'Order status'|translate}}
  </ion-col>
  <ion-col col-6 class="side2">
      {{order.status}}
  </ion-col>
</ion-row>
<hr>
    <ion-row *ngIf="flag">
  <ion-col col-6 class="side1">
      {{'Phone Number'|translate}}
  </ion-col>
  <ion-col col-6  class="side2">
    <ion-icon name="ios-call-outline"  class="call" (click)="call()"></ion-icon>
    <!--{{custPhone}}-->
  </ion-col>
</ion-row>
<hr>
 <ion-row>
   <ion-col col-6 class="side1">
      {{'Number of cylinders'|translate}}
   </ion-col>
  <ion-col col-6 class="side2">
      {{order.pipesNo}}
  </ion-col>
  </ion-row>
   <hr>
<ion-row>
<ion-col col-4 class="side1">
    {{'Time Order'|translate}}
</ion-col>
  <ion-col col-8 class="side2">
      {{ convertDate(order.deliveryDate)}}
  </ion-col>
</ion-row>
<hr>
<ion-row>
  <ion-col col-6 class="side1">
      {{'your location'|translate}}
  </ion-col>
  <ion-col col-6 class="side2">
      {{order.location.label}}
  </ion-col>
</ion-row>
<hr>
<ion-row (click)="gotoflloerequest()">
  <ion-col col-6 class="side1">
      {{'Pay way'|translate}}
  </ion-col>
  <ion-col col-6 class="side2">
      {{order.paymentType}}
  </ion-col>
</ion-row>
<div class="d">
<button class="reqnow" *ngIf="order.status == orderClass.PendingStatus" ion-button round (click)="navigate()" >{{'Navigate'|translate}}</button>
<!--<button class="reqlater" ion-button round>{{'Cancel Order'|translate}}</button>-->
</div>
</ion-list>
</ion-content>
