page-addcard {
.content{
    background-color: aliceblue;
    padding: 20px 40px 21px 44px;
}
.titlename{
 
    text-align: center;
    color: gray;
}
.addcards{
    text-align: center;
    color: gray;

}
.btn{
        background-color: #FF530D;
    font-size: 1.8rem;
  
    margin-top: 155px;
    height: 55px;

}
.password{
    color: #FF530D;
    font-size: 2rem;
 
}
.item {
    background-color: aliceblue;
}

.back-button-text-ios {
 
    display: none;
}
.back-button.show-back-button{
    color: orangered;
}
}
