page-addcard {
.content{
    background-color: $color-background;
    padding: 20px 40px 21px 44px;
}
.titlename{
 
    text-align: center;
    color: gray;
}
.addcards{
    text-align: center;
    color: gray;
    text-transform: lowercase;
}

.btn{
        background-color: $color-primary;
    font-size: 1.8rem;
  
    margin-top: 155px;
    height: 55px;

}
.password{
    color: $color-primary;
    font-size: 2rem;
 
}

.item {
    background-color: $color-background;
}
}
