
<ion-header>
  <ion-navbar>
    <ion-title  >
      <ion-row>
        <ion-col text-center col-1>
      <ion-icon (click)="toggleMenu()" ios="ios-menu" md="md-menu"></ion-icon>
       </ion-col>
       <ion-col class="titlename" col-11>
         {{'Rate'|translate}}
       </ion-col >
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
 <img class="logo" src="assets/imgs/agent_pin.png">
  <h5 *ngIf="mode == rateClass.rateCustomerType" style="font-family: cairo; color: gray">{{'Customer Name'|translate}} : {{user?.name}}</h5>
  <h5 *ngIf="mode == rateClass.rateDistType" style="font-family: cairo; color: gray">{{'Distributor Name'|translate}} : {{user?.name}}</h5>
 <ion-row class="r">
   <ion-icon  *ngFor="let icon of icons(user?.rateInfo?.rateSum / user?.rateInfo?.rateNo); let i = index;" style="color:orange" [name]="icon"
             (click)="customerRate(i+1)"></ion-icon>
 </ion-row>

    <textarea [(ngModel)]="comment" class="add" placeholder="{{'Comment'|translate}}" ></textarea>

  <button class="btn" ion-button round (click)="rateConfirm()" >{{'Rate'|translate}}</button>
  </ion-list>
</ion-content>
