<ion-header>
  <ion-navbar> <ion-buttons right>
      <button ion-button navPop icon-only>
          <ion-icon style="color:gray" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title >
      <ion-row>
        <ion-col text-center  col-1>
       <ion-icon (click)="toggleMenu()" ios="ios-menu" md="md-menu"></ion-icon>
       </ion-col>
       <ion-col class="titlename" col-11>
         {{'Profile'|translate}}
       </ion-col>
       </ion-row>
    </ion-title>
  </ion-navbar>
  
</ion-header>
<ion-content padding>
  <img class="imgd" src="assets/imgs/agent_pin.png">
  
 
<ion-list style="margin-top: 40px;" >
    <hr>
    <div *ngIf="Data =='customers'">
  <ion-row (click)="gotoeditaccount()">
    <ion-col col-1><img src="assets/imgs/profile_edit_profile.png"></ion-col>
    <ion-col col-10> <h5>{{'Edit Profile'|translate}}</h5></ion-col>
        <ion-col col-1>
              <ion-icon class="arrow" name="arrow-back"></ion-icon>
          </ion-col>
  </ion-row>
    </div>
      
      <div *ngIf="Data =='distributors'">
      <ion-row  (click)="gotoeditaccountdis()">
        <ion-col col-1><img src="assets/imgs/profile_edit_profile.png"></ion-col>
        <ion-col col-10> <h5>{{'Edit Profile'|translate}}</h5></ion-col>
            <ion-col col-1>
                  <ion-icon class="arrow" name="arrow-back"></ion-icon>
              </ion-col>
      </ion-row>
      </div>
          <hr>
       <ion-row (click)="gopayway()">
    <ion-col col-1><img src="assets/imgs/profile_payment.png"></ion-col>
    <ion-col col-10> <h5>{{'Pay way'|translate}}</h5></ion-col>
       <ion-col col-1>     <ion-icon class="arrow" name="arrow-back"></ion-icon>
</ion-col>
  </ion-row>
      <hr>
       <ion-row (click)="addaddresses()">
    <ion-col col-1><img src="assets/imgs/profile_location.png"></ion-col>
    <ion-col col-10> <h5>{{'Add Location'|translate}}</h5></ion-col>
       <ion-col col-1>     <ion-icon class="arrow" name="arrow-back"></ion-icon>
</ion-col>
  </ion-row>
      <hr>
       <ion-row (click)="presentConfirm()">
    <ion-col col-1><img src="assets/imgs/profile_logout.png"></ion-col>
    <ion-col col-10> <h5>{{'Log Out'|translate}}</h5></ion-col>
       <ion-col col-1>     <ion-icon class="arrow" name="arrow-back"></ion-icon>
</ion-col>
  </ion-row>
     <hr>
</ion-list>
</ion-content>
