page-settings {
.content{
    background-color: $color-background;
}
.titlename{
    color: gray;
    text-align: center;
}
.row{
    height: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    color: gray;
}

.back-button-md.show-back-button {
    display: none;
}
.back-button-text-ios {
 
    display: none;
}
.back-button-ios.show-back-button{
    color: $color-primary;
}
}
