
<ion-header>
  <ion-navbar>
      <ion-buttons right>
          <button ion-button navPop icon-only>
              <ion-icon style="color:gray" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>
      <ion-row style="padding-top:9px;">
        <ion-col text-center col-1>
      <ion-icon (click)="toggleMenu()" ios="ios-menu" md="md-menu"></ion-icon>
       </ion-col>
       <ion-col class="titlename" col-10>
      {{'Settings'|translate}}
       </ion-col>
       <ion-col text-center col-1>
 <ion-icon (click)="gotoselrct()"  ios="ios-search" md="md-search"></ion-icon>
 </ion-col></ion-row>
    </ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>

<ion-list >
  <ion-row (click)="gotonotifications()">
    <ion-col col-1>
      <img src="assets/imgs/profile_edit_profile.png">
    </ion-col>
    <ion-col col-10>
   {{'Notifications'|translate}}
    </ion-col>
    <ion-col col-1>
     <ion-icon class="arrow" name="arrow-back"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row *ngIf="MainService.lang == 'en'"> 
    <ion-col col-1>
      <img src="assets/imgs/profile_edit_profile.png">
    </ion-col>
    <ion-col col-9>
      {{'Language'|translate}}
    </ion-col>
    <ion-col col-2>
      <ion-toggle [(ngModel)]="toggleStatus"  checked="true" (ionChange)="Change_Toggle('ar');"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="MainService.lang == 'ar'"> 
      <ion-col col-1>
        <img src="assets/imgs/profile_edit_profile.png">
      </ion-col>
      <ion-col col-9>
        {{'Language'|translate}}
      </ion-col>
      <ion-col col-2>
        <ion-toggle [(ngModel)]="toggleStatus"  checked="true" (ionChange)="Change_Toggle('en');"></ion-toggle>
      </ion-col>
    </ion-row>
  <hr>
  <ion-row (click)="gototermsandprivacy()">
    <ion-col col-1>
      <img src="assets/imgs/profile_payment.png">
    </ion-col >
    <ion-col col-10>
  {{'Terms and Privacy'|translate}}
    </ion-col>
    <ion-col col-1>
     <ion-icon class="arrow" name="arrow-back"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row (click)="gotoaboutprogram()">
    <ion-col col-1>
      <img src="assets/imgs/profile_location.png">
    </ion-col>
    <ion-col col-10>
      {{'About'|translate}}
    </ion-col>
    <ion-col col-1>
      <ion-icon class="arrow" name="arrow-back"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row (click)="gotocallus()">
    <ion-col col-1>
      <img src="assets/imgs/profile_logout.png">
    </ion-col>
    <ion-col col-10>
      {{'Call us'|translate}}
    </ion-col>
    <ion-col col-1>
      <ion-icon class="arrow" name="arrow-back"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
</ion-list>

</ion-content>
