page-termsandprivacy {
    .titlename{
        
            color: gray;
            text-align: center;
        }
    .content{
        background-color: $color-background;
    }
    .imgdiv{
        margin-left: auto;
        margin-right: auto;
        height: 180px;
        text-align: center;
      }
}
