page-notifications {
.content{
    background-color: $color-background;
}
.titlename{
    color: gray;
    text-align: center;
}
.h{
   
    font-size: 1.7rem;
    color: gray;
    font-weight: bold;
    font-size: 1.4rem !important;
}
.h2{
    
        color: $color-primary;
    font-weight: 500;
    font-size: 1.7rem;
}
.back-button-md.show-back-button {
    display: none;
}
.back-button-text-ios {
 
    display: none;
}
.back-button-ios.show-back-button{
    color: $color-primary;
}
}
