page-aboutaprogram {
    .titlename{
    
        color: gray;
        text-align: center;
    }
.content{
    background-color: aliceblue;
}
.back-button-md.show-back-button {
    display: none;
}
.back-button-text-ios {
 
    display: none;
}
.back-button-ios.show-back-button{
    color: orangered;
}
}
